/*!
 * Agate by Taufik Nurrohman <https://github.com/tovic>
 * ----------------------------------------------------
 *
 * #ade5fc
 * #a2fca2
 * #c6b4f0
 * #d36363
 * #fcc28c
 * #fc9b9b
 * #ffa
 * #fff
 * #333
 * #62c8f3
 * #888
 *
 */

$hljs-background: #333 !default;
$hljs-text: white !default;
$hljs-tag: #62c8f3 !default;
$hljs-variable: #ade5fc !default;
$hljs-string: #a2fca2 !default;
$hljs-type: #ffa !default;
$hljs-number: #d36363 !default;
$hljs-keyword: #fcc28c !default;
$hljs-comment: #888 !default;
$hljs-link: #c6b4f0 !default;
$hljs-meta: #fc9b9b !default;
$hljs-deletion-bg: #fc9b9b !default;
$hljs-deletion-fg: #333 !default;
$hljs-addition-bg: #a2fca2 !default;
$hljs-addition-fg: $hljs-deletion-fg !default;


.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: $hljs-background;
  color: $hljs-text;
}

.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-code,
.hljs-emphasis {
  font-style: italic;
}

.hljs-tag {
  color: $hljs-tag;
}

.hljs-variable,
.hljs-template-variable,
.hljs-selector-id,
.hljs-selector-class {
  color: $hljs-variable;
}

.hljs-string,
.hljs-bullet {
  color: $hljs-string;
}

.hljs-type,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-quote,
.hljs-built_in,
.hljs-builtin-name {
  color: $hljs-type;
}

.hljs-number,
.hljs-symbol,
.hljs-bullet {
  color: $hljs-number;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color: $hljs-keyword;
}

.hljs-comment,
.hljs-deletion,
.hljs-code {
  color: $hljs-comment;
}

.hljs-regexp,
.hljs-link {
  color: $hljs-link;
}

.hljs-meta {
  color: $hljs-meta;
}

.hljs-deletion {
  background-color: $hljs-deletion-bg;
  color: $hljs-deletion-fg;
}

.hljs-addition {
  background-color: $hljs-addition-bg;
  color: $hljs-addition-fg;
}

.hljs a {
  color: inherit;
}

.hljs a:focus,
.hljs a:hover {
  color: inherit;
  text-decoration: underline;
}