p {
  font-size: 18px;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight:700
}
h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight:400
}
.h1 {
  @extend h1;
}

.h2 {
  @extend h2;
}

.h3 {
  @extend h3;
}

.h4 {
  @extend h4;
}

.h5 {
  @extend h5;
}

.h6 {
  @extend h6;
}

.font-ultrathin {
  font-weight: 100;
}

.font-thin {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 600;
}

.font-heavy {
  font-weight: 800;
}

.text-xxsmall {
  font-size: xx-small;
}

.text-xsmall {
  font-size: x-small;
}

.text-smaller {
  font-size: smaller;
}

.text-small {
  font-size: small;
}

.text-normal {
  font-size: inherit;
}

.text-large {
  font-size: large;
}

.text-larger {
  font-size: larger;
}

.text-xlarge {
  font-size: x-large;
}

.text-xxlarge {
  font-size: xx-large;
}