<!DOCTYPE html>
<html lang="en-us" {% if ng_app %}ng-app="{{ ng_app}}"{% endif %}>
    <head>
        <meta charset="UTF-8">
        <title>{%- block title %}{{ title|append(' | Open Educational Resource Schema') }}{% endblock title -%}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% block stylesheets -%}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            {% for sheet in stylesheets %}
                <link rel="stylesheet" type="text/css" href="/css/{{ sheet }}">
            {% endfor %}
        {%- endblock stylesheets %}
    </head>
    <body {% if ng_body_controller %}ng-controller="{{ ng_body_controller }}"{% endif %}>
        {%- block content %}

        {% endblock content -%}
        {% include './footer.html' %}
        {% block javascripts -%}
            {% for script in scripts %}
                <script src="/js/{{ script }}"></script>
            {% endfor
            <script id="__bs_script__">//<![CDATA[
            document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.12.3.js'><\/script>".replace("HOST", location.hostname));
            //]]></script>
        {%- endblock javascripts %}
    </body>
</html>