<footer class="page-footer">
    <div class="container">

    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row text-small font-thin">
                &copy; Copyright 2016 OER Group. All Rights Reserved. MIT License.
            </div>
        </div>
    </div>
</footer>