{% extends "templates/base.njk" %}

{% set title = 'An RDF Vocabulary for Open Educational Resources' %}
{% set action = 'index' %}

{% block content -%}
    <header id="home-header" class="valign-wrapper header-margin center">
        <div class="valign container">
            <h1 class="h1">Open Educational Resource Schema</h1>
            <p class="flow-text">Interoperable Learning Content</p>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row pad-top-10 pad-bottom-10 font-light">
                <h2 class="h4">What is OER Schema?</h2>
                <p class="flow-text">Computer software doesn't see learning content in the same way that humans do. Where educators and students see lessons, modules and assessments, computer software sees headings, paragraphs and sections.<strong> Until now.</strong></p>
                <p class="flow-text">OER Schema is metadata that works behind the scenes to describe content to software. OER Schema adds a vocabulary of terms that expands the Google developed Schema.org vocabulary to include pedagogical terms that anyone can apply to their own learning content. By adding OER Schema to your content, you enable software to have the ability to understand it as might a person. This project hopes to give software the ability to see OER pedagogy.</p>
                <p class="flow-text">In addition, OER Schema has profound implications for the future of how OER content is located, authored, shared, and remixed. Even though digital education workers may produce learning content on different platforms, workflows, and tools, OER Schema would allow it all to become interoperable. This is the foundational element needed to create remix interfaces for educational materials.</p>
                <div class="row padding-top-bottom">
                    <div class="col s12 m10 push-m1">
                        <div class="card-panel grey lighten-4">
                            <h3 class="center h5">What can you do with OER Schema?</h3>
                            <ul class="browser-default">
                                <li class="flow-text">Granularly associate proper copyright infromation and usage licenses to content</li>
                                <li>Describe pedagogical associations between content and objectives</li>
                                <li>Describe learning content dependencies for pathways and prereqs</li>
                                <li>Transport content easily and consistently between systems, people, and publishing endpoints</li>
                                <li>Prepare content for online publishing and remix</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section class="container">
        <div class="row">
            <h2 class="h4 center">OER Schema in action</h2>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/zntVPDUwz_0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
            <form action="https://oerschema.us13.list-manage.com/subscribe/post?u=5a5b4e7885dbe6bbcf4aecde7&amp;id=cb2af0cb60" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                <h2>Subscribe to our mailing list</h2>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
            </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div class="mc-field-group">
                <label for="mce-FNAME">First Name </label>
                <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
            </div>
            <div class="mc-field-group">
                <label for="mce-LNAME">Last Name </label>
                <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
            </div>
            <div class="mc-field-group input-group">
                <strong>Email Format </strong>
                <ul><li><input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0"><label for="mce-EMAILTYPE-0">html</label></li>
            <li><input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1"><label for="mce-EMAILTYPE-1">text</label></li>
            </ul>
            </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5a5b4e7885dbe6bbcf4aecde7_cb2af0cb60" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='WORKSHOP';ftypes[3]='dropdown';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->
        </div>
    </section>
{%- endblock content %}
