{% extends "templates/base.njk" %}

{% set title = 'An RDF Vocabulary for Open Educational Resources' %}
{% set action = 'index' %}

{% block content -%}
    <header id="home-header" class="valign-wrapper header-margin center">
        <div class="valign container">
            <h1 class="h1">Open Educational Resource Schema</h1>
            <p class="flow-text">Interoperable Learning Content</p>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row pad-top-10 pad-bottom-10 font-light">
                <h2 class="h4">What is OER Schema?</h2>
                <p class="flow-text">Computer software doesn't see learning content in the same way that humans do. Where educators and students see lessons, modules and assessments, computer software sees headings, paragraphs and sections.<strong> Until now.</strong></p>
                <p class="flow-text">OER Schema is metadata that works behind the scenes to describe content to software. OER Schema adds a vocabulary of terms that expands the Google developed Schema.org vocabulary to include pedagogical terms that anyone can apply to their own learning content. By adding OER Schema to your content, you enable software to have the ability to understand it as might a person. This project hopes to give software the ability to see OER pedagogy.</p>
                <p class="flow-text">In addition, OER Schema has profound implications for the future of how OER content is located, authored, shared, and remixed. Even though digital education workers may produce learning content on different platforms, workflows, and tools, OER Schema would allow it all to become interoperable. This is the foundational element needed to create remix interfaces for educational materials.</p>
                <div class="row">
                    <div class="col s12 m10 push-m1">
                        <div class="card-panel grey lighten-4">
                            <h3 class="center h5">What can you do with it?</h3>
                            <ul>
                                <li class="flow-text">Granularly associate proper copyright infromation and usage licenses to content</li>
                                <li>Describe pedagogical associations between content and objectives</li>
                                <li>Describe learning content dependencies for pathways and prereqs</li>
                                <li>Transport content easily and consistently between systems, people, and publishing endpoints</li>
                                <li>Prepare content for online publishing and remix</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section class="container">
        <div class="row">
            <h2 class="h4">OER Schema in action</h2>
            <p><iframe width="560" height="315" src="https://www.youtube.com/embed/zntVPDUwz_0" frameborder="0" allowfullscreen></iframe></p>
        </div>
    </section>
{%- endblock content %}
