{% macro schema_class_table(class, schema, inTable=false) %}
    {%- if not inTable %}
        <table class="class-table schema-table striped">
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Expected Type</th>
                    <th>Description</th>
                </tr>
            </thead>
    {%- endif %}
        <tbody class="subclass">
        <tr>
            <th colspan="3">
                <link property="rdfs:subClassOf" href="http://oerschema.org/{{ class.label }}">
                {%- if class.baseVocab %}
                    <link property="rdfs:subClassOf" href="{{ class.baseVocab }}{{ class.label }}">
                {%- endif %}
                Properties of <a href="/{{ class.label }}">{{ class.label }}</a>
            </th>
        </tr>
        {%- if class.properties %}
            {%- for name in class.properties %}
                {% set property = schema.properties[name] %}
                <tr typeof="rdfs:Property" resource="http://oerschema.org/{{ name }}/">
                    <td class="property-label" property="rdfs:label"><a href="/{{ name }}">{{ name }}</a></td>
                    <td class="property-range">
                        {%- for range in property.range|sort %}
                            <link property="rangeIncludes" href="http://oerschema.org/{{ range }}">
                            {%- if class.baseVocab %}
                                <link property="rangeIncludes" href="{{ class.baseVocab }}{{ range }}">
                            {%- endif %}
                            <a href="/{{ range }}/">{{ range }}</a> {{ "or" if not loop.last }}
                        {%- endfor %}
                    </td>
                    <td class="property-comment" property="rdfs:comment">{{ property.comment }}</td>
                </tr>
            {%- endfor %}
        {%- endif %}
        </tbody>
        {%- if class.subClassOf %}

            {%- for subClass in class.subClassOf %}
                {% set sc = schema.classes[subClass|trim] %}
                {%- if not subClass|match('/^[^:]+:/') %}
                    {{ schema_class_table(sc, schema, inTable=true) }}
                {%- else %}
                    <tbody>
                        <tr>
                            <th colspan="3">
                                <link property="rdfs:subClassOf" href="{{ subClass }}">
                                Extends class
                                {% if subClass|match('/^https?:\/\//') %}
                                    <a href="{{ subClass}}" target="_blank"><b>{{ subClass }}</b></a>
                                {% else %}
                                    <b>{{ subClass }}</b>
                                {% endif %}
                            </th>
                        </tr>
                    </tbody>
                {%- endif %}
            {%- endfor %}
        {%- endif %}
    {%- if not inTable %}
        </table>
    {%- endif %}
{% endmacro %}

{% macro schema_class_breadcrumbs(class, schema, rendered=[]) %}
    {%- if rendered|length == 0 %}
        {% set rendered = [class.label] %}
    {%- endif %}
    {%- if class.subClassOf %}
        {%- for subClass in class.subClassOf %}
            {%- if subClass in schema.classes|keys and not subClass in rendered %}
                {% set rendered = rendered|merge([subClass]) %}
                {{ schema_class_breadcrumbs(schema.classes[subClass], schema, rendered) }}
            {%- endif %}
        {%- endfor %}
    {%- elif rendered|length > 0 -%}
        {%- for sc in rendered|reverse %}
            <a href="/{{ sc }}" class="breadcrumb">{{ sc }}</a>
        {%- endfor %}
    {%- endif %}
{% endmacro %}

{% macro schema_property_breadcrumbs(property, schema) %}
    {{ schema_class_breadcrumbs(schema.classes['Property'], schema) }}
    <a href="/{{ property.label }}" class="breadcrumb">{{ property.label }}</a>
{% endmacro %}

{% macro schema_class_dependencies(className, schema) %}
    {% set list = [] %}
    {% for name, obj in schema.classes %}
        {% if className in obj.subClassOf|merge([]) %}
            {% set list = list|merge([name])|sort %}
        {% endif %}
    {% endfor %}
    <ul>
        {% for item in list %}
            <li><a href="/{{ item }}">{{ item }}</a></li>
        {% else %}
            <li><em>This is the most specific of this type.</em></li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro schema_class_tree(schema, seed, list=[]) -%}
    {%- for name, obj in schema.classes -%}
        {%- if obj.schema == seed -%}
            {%- set list = list|merge([name])|sort -%}
        {%- elif seed in obj.subClassOf|merge([]) -%}
            {%- set list = list|merge([name])|sort -%}
        {%- endif -%}
    {%- endfor -%}
    {%- if not list|empty -%}
        <ul class="schema-tree">
            {%- for item in list -%}
                <li>
                    <a href="/{{ item }}">{{ item }}</a>
                    {{ schema_class_tree(schema, seed=item) }}
                </li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endmacro %}

{% macro schema_class_for_props(className, schema) %}
    {% set list = [] %}
    {%- for name, property in schema.properties %}
        {% if className in property.range|merge([]) %}
            {% set list = list|merge([name])|sort %}
        {% endif %}
    {%- endfor %}
    <table class="schema-table properties-table striped">
        <thead>
            <tr>
                <th>Property</th>
                <th>On Types</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {%- for item in list %}
                {% set property = schema.properties[item] %}
                <tr>
                    <td>
                        <a href="/{{ item }}">{{ item }}</a>
                    </td>
                    <td>
                        {%- for class in property.domain|sort %}
                            {%- if not class|match('/.+:.*.') %}
                                <a href="/{{ class }}">{{ class }}</a><br>
                            {%- endif %}
                        {%- endfor %}
                    </td>
                    <td>
                        {{ property.comment|safe }}
                    </td>
                </tr>
            {%- else %}
                <tr>
                    <td class="center-align" colspan="3"><em>This type hasn't been used on any properties, yet.</em></td>
                </tr>
            {%- endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro schema_code_samples(className) %}
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#default" class="active">Without Markup</a></li>
                <li class="tab col s3"><a href="#rdfa">HTML5+RDFa</a></li>
                <li class="tab col s3"><a href="#micro">Microdata</a></li>
                <li class="tab col s3"><a href="#jsonld">JSON+LD</a></li>
            </ul>
        </div>
        <div id="default" class="col s12">
            {%- code "html" %}
                {%- include "samples/" + className + "/default.html" ignore missing -%}
            {%- endcode %}
        </div>
        <div id="rdfa" class="col s12">
            {%- code "html" %}
                {%- include "samples/" + className + "/rdfa.html" ignore missing -%}
            {%- endcode %}
        </div>
        <div id="micro" class="col s12">
            {%- code "html" %}
                {%- include "samples/" + className + "/microdata.html" ignore missing -%}
            {%- endcode %}
        </div>
        <div id="jsonld" class="col s12">
            {%- code "html" %}
                {%- include "samples/" + className + "/jsonld.html" ignore missing -%}
            {%- endcode %}
        </div>
    </div>
{% endmacro %}