{% extends '../templates/base.html' %}

{% set title = 'An RDF Vocabulary for Higher Education' %}

{% block content %}
<header id="home-header" class="lime lighten-1 white-text valign-wrapper">
    <div class="valign container center-align">
        <h1>Open Educational Resource Schema</h1>
        <p>Enhancing discoverability and usability</p>
    </div>
</header>
<nav class="orange">
    <div class="nav-wrapper">
        <ul class="right">
            <li><a href="/">Home</a></li>
            <li><a href="#">Schema</a></li>
            <li><a href="#">Documentation</a></li>
        </ul>
    </div>
</nav>
<main>
    <article class="container">
        <div class="row">
            <div class="col s12 l4 valign-wrapper center">
                <div class="valign center-block">
                    <p><i class="material-icons medium">search</i></p>
                    <h2 class="h4">Be Found Easily</h2>
                    <p class="flow-text">Amplify your content and how it relates to students.</p>
                </div>
            </div>
            <div class="col s12 l4 valign-wrapper center">
                <div class="valign center-block">
                    <p><i class="material-icons medium">swap_horiz</i></p>
                    <h2 class="h4">Connect Resources</h2>
                    <p class="flow-text">Reference parts of other resources across the web.</p>
                </div>
            </div>
            <div class="col s12 l4 valign-wrapper center">
                <div class="valign center-block">
                    <p><i class="material-icons medium">loop</i></p>
                    <h2 class="h4">Remix Content</h2>
                    <p class="flow-text">Embed other web resources into your own content.</p>
                </div>
            </div>
        </div>
    </article>
    <section class="brown lighten-3 white-text">
        <div class="container">
            <div class="row marginless">
                <h2 class="h4">Structuring Open Educational Resources</h2>
                <p class="font-thin">Stuff and things. And more changes. And things. I think the cache is off now.</p>
            </div>
        </div>
    </section>
</main>
{% endblock content %}