{% macro schema_class_table(class, schema, inTable=false) %}
    {%- if not inTable %}
        <table class="class-table schema-table">
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Expected Type</th>
                    <th>Description</th>
                </tr>
            </thead>
    {%- endif %}
        <tbody class="subclass">
            <tr>
                <th colspan="3">
                    <link property="rdfs:subClassOf" href="http://oerschema.org/{{ class.label }}">
                    {%- if class.baseVocab %}
                        <link property="rdfs:subClassOf" href="{{ class.baseVocab }}{{ class.label }}">
                    {%- endif %}
                    Properties of <a href="/{{ class.label }}">{{ class.label }}</a>
                </th>
            </tr>
        </tbody>
        {%- if class.properties %}
            <tbody class="properties">
                {%- for name in class.properties %}
                    {% set property = schema.properties[name] %}
                    <tr typeof="rdfs:Property" resource="http://oerschema.org/{{ name }}/">
                        <td class="property-label" property="rdfs:label"><a href="/{{ name }}">{{ name }}</a></td>
                        <td class="property-range">
                            {%- for range in property.range %}
                                <link property="rangeIncludes" href="http://oerschema.org/{{ range }}">
                                {%- if class.baseVocab %}
                                    <link property="rangeIncludes" href="{{ class.baseVocab }}{{ range }}">
                                {%- endif %}
                                <a href="/{{ range }}/">{{ range }}</a> {{ "or" if not loop.last }}
                            {%- endfor %}
                        </td>
                        <td class="property-comment" property="rdfs:comment">{{ property.comment }}</td>
                    </tr>
                {%- endfor %}
            </tbody>
        {%- endif %}
        {%- if class.subClassOf %}
            {%- for subClass in class.subClassOf %}
                {% set sc = schema.classes[subClass|trim] %}
                {%- if not subClass|match('/^[^:]+:/') %}
                    {{ schema_class_table(sc, schema, inTable=true) }}
                {%- else %}
                    <tbody class="subclass">
                        <tr>
                            <th colspan="3">
                                <link property="rdfs:subClassOf" href="{{ subClass }}">
                                Extends class
                                {% if subClass|match('/^https?:\/\//') %}
                                    <a href="{{ subClass}}" target="_blank"><b>{{ subClass }}</b></a>
                                {% else %}
                                    <b>{{ subClass }}</b>
                                {% endif %}
                            </th>
                        </tr>
                    </tbody>
                {%- endif %}
            {%- endfor %}
        {%- endif %}
    {%- if not inTable %}
        </table>
    {%- endif %}
{% endmacro %}

{% macro schema_class_breadcrumbs(class, schema) %}
    {%- if class.subClassOf %}
        {%- for subClass in class.subClassOf %}
            {%- if subClass in schema.classes|keys %}
                {{ schema_class_breadcrumbs(schema.classes[subClass], schema) }}
            {%- endif %}
        {%- endfor %}
    {%- endif %}
    <a href="/{{ class.label }}" class="breadcrumb">{{ class.label }}</a>
{% endmacro %}

{% macro schema_property_breadcrumbs(property, schema) %}
    {{ schema_class_breadcrumbs(schema.classes['Property'], schema) }}
    <a href="/{{ property.label }}" class="breadcrumb">{{ property.label }}</a>
{% endmacro %}