@import "../components/materialize/sass/materialize.scss";
@import "components/typography";
@import "components/grid";

body {
  @extend body;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

header {
  background: url("/images/node-graph.svg") center left no-repeat scroll;
  @media #{$medium-and-up} {
    background-position-x: right;
    min-height: 300px;
  };
}

.row.marginless {
  margin-bottom: 0;
}

