{% extends 'templates/base.njk' %}
{% from 'macros/schema.njk' import schema_class_tree %}

{% set title = "Schema" %}
{% set action = 'schema' %}

{% block content %}
    <div class="container">
        <span class="right blue-grey-text text-lighten-1">v{{ schema.version }}</span>
        <h1 class="header-margin center">{{ title }}</h1>
        {{ schema_class_tree(schema, seed="root", list=[]) }}

        {{ schema_class_tree(schema, seed="intangible", list=[]) }}
    </div>
{% endblock %}