{% extends 'templates/base.njk' %}
{% from 'macros/schema.njk' import schema_class_tree %}

{% set title = "Schema" %}
{% set action = 'schema' %}

{% block content %}
    <div class="container">
        <span class="right blue-grey-text text-lighten-1">v{{ schema.version }}</span>
        <h1>{{ title }}</h1>
        <div class="card-panel red-text text-darken-1 row">
            <div class="col s2 center-align"><i class="material-icons medium">announcement</i></div>
            <div class="col s10 flow-text">
                OER Schema is currently under heavy development. Please check back often to see changes and additions.
            </div>
        </div>
        {{ schema_class_tree(schema, seed="root", list=[]) }}

        {{ schema_class_tree(schema, seed="intangible", list=[]) }}
    </div>
{% endblock %}