<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" {% if ng_app %}ng-app="{{ ng_app}}"{% endif %}>
    <head>
        <meta charset="UTF-8">
        <title>{%- block title %}{{ title|append(' | Open Educational Resource Schema') }}{% endblock title -%}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% block stylesheets -%}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
            {% for sheet in stylesheets %}
                <link rel="stylesheet" type="text/css" href="/assets/css/{{ sheet }}">
            {% endfor %}
        {%- endblock stylesheets %}
    </head>
    <body {% if ng_body_controller %}ng-controller="{{ ng_body_controller }}"{% endif %}>
        {% block nav -%}
            {% include "templates/nav.njk" %}
        {% endblock nav -%}
        <main>
            {%- block content %}{% endblock content -%}
        </main>
        {% include 'templates/footer.njk' %}
        {% block javascripts -%}
            {% for script in scripts %}
                <script src="/assets/js/{{ script }}"></script>
            {% endfor %}
        {%- endblock javascripts %}
    </body>
</html>