<footer class="page-footer">
    <div class="container">

    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row text-small font-thin">
                Content Licensed using MIT License.
                <div class="right"><a href="https://twitter.com/OerSchema" class="twitter-follow-button" data-show-count="false">Follow @OerSchema</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>
            </div>
        </div>
    </div>
</footer>