<div class="navbar-fixed">
    <nav>
        <div class="black nav-wrapper">
            <a href="/" class="brand-logo">
                <img src="/assets/images/logo.png" width="210" height="60" alt="OERSchema" title="OERSchema" class="responsive-img">
            </a>
            <ul class="right">
                <li role="presentation" {% if action == 'index' %}class="active"{% endif %}><a href="/">Home</a></li>
                <li role="presentation" {% if action == 'schema' %}class="active"{% endif %}><a href="/docs/schema.html">Schema</a></li>
                <li role="presentation" {% if action == 'docs' %}class="active"{% endif %}><a href="/docs">Documentation</a></li>
            </ul>
        </div>
    </nav>
</div>