{% extends "templates/base.njk" %}
{% import "macros/schema.njk" as macros %}

{% set action = 'schema' %}
{% set property = schema.properties[objName] %}
{% set title = objName %}

{% block content %}
    <div class="schema-content container" vocab="http://oerschema.org/" typeof="rdfs:Property" resource="http://oerschema.org/{{ property.label }}">
        <span class="right blue-grey-text text-lighten-1">v{{ schema.version }}</span>
        <h1 property="rdfs:label">{{ property.label }}</h1>
        <link property="rdfs:subClassOf" href="http://oerschema.org/Property">
        {% if property.alternateType %}
            <link property="alternateType" href="{{ property.alternateType }}">
        {% endif %}
        {% if property.alternateName %}
            <meta property="alternateName" content="{{ property.alternateName}}">
        {% endif %}
        <div class="breadcrumbs">
            {{ macros.schema_property_breadcrumbs(property, schema) }}
        </div>
        <p property="rdfs:comment">{{ property.comment|safe }}</p>
        {% if property.range %}
            <table class="schema-table range-table striped">
                <thead>
                    <th>Values expected to be these</th>
                </thead>
                <tbody>
                    {%- for range in property.range %}
                        <tr>
                            <td>
                                <link property="rangeIncludes" href="{{ range }}">
                                <a href="http://oerschema.org/{{ range }}">{{ range }}</a>
                            </td>
                        </tr>
                    {%- endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if property.domain %}
            <table class="schema-table domain-table striped">
                <thead>
                    <th>Used on these types</th>
                </thead>
                <tbody>
                    {%- for class in property.domain|sort %}
                        {% if class|match('/.+:.*.') %}
                            <link property="domainIncludes" href="{{ class }}">
                        {% else %}
                            <tr>
                                <td>
                                    <link property="domainIncludes" href="{{ class }}">
                                    {% if property.baseVocab %}
                                        <link property="domainIncludes" href="{{ property.baseVocab }}{{ class }}">
                                    {% endif %}
                                    <a href="http://oerschema.org/{{ class }}">{{ class }}</a>
                                </td>
                            </tr>
                        {% endif %}
                    {%- endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}